.container__inner {
  display: flex;
  flex-direction: column;
  padding-left: 2.25rem;
  padding-right: 0.25rem;
}

// -------------------------- MEDIA -------------------------------

@media screen and (min-width: 520px) and (max-width: 1024px) {
  
  .container__inner {
    padding: 0;
  }
}

@media screen and (max-width: 519px) {

  .container__inner {
    padding: 0 0 0 1rem;
  }
}
