.container {
  display: flex;
  padding: 2rem;
}

// -------------------------- MEDIA -------------------------------

@media screen and (min-width: 520px) and (max-width: 1024px) {

  .container {
    flex-direction: column;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 519px) {

  .container {
    flex-direction: column;
    padding: 0;
    padding-bottom: 2rem;
  }
}
