@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

$red: hsl(0, 97%, 63%);
$white: hsl(0, 0%, 100%);
$darkblue: hsl(223, 30%, 9%);
$mediumblue: hsl(223, 36%, 14%);
$lightblue: hsl(223, 23%, 46%);

$font-text: 'Outfit', sans-serif;
$base-size: 1rem;
