.list__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14.125rem;
  margin-bottom: 2rem;
}

.card__image {
  margin-right: 2.43rem;

  img {
    border-radius: 0.5rem;
    width: 17.5rem;
    height: 100%;
  }
}

.card__description {
  display: flex;
  gap: 0.5rem;
  color: rgb(179, 179, 179);
}
