@import '../../styles/settings.scss';

.searchbar {
  display: flex;
  gap: 1rem;
  padding-top: 4rem;
  margin-bottom: 2.125rem;
  width: 75rem;

  input {
    width: 100%;
    background-color: $darkblue;
    border: none;
    outline: none;
    color: white;

    &:focus {
      border-bottom: 1px solid white;
    }
  }
}
