@import '../../styles/settings.scss';

.search__page {
  display: flex;
  flex-direction: column-reverse;
}

.search__page__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.result__string {
    margin-bottom: 2rem;

    span {
      color: hsl(0, 62%, 62%);
    }
}

// -------------------------- MEDIA -------------------------------

@media screen and (min-width: 520px) and (max-width: 1024px) {

  .search__page__list {
    gap: 1.3rem;
  }
}

@media screen and (max-width: 519px) {
  
  .search__page__list {
    gap: 1rem;
  }

  .result__string div {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
}
