@import '../../styles/settings.scss';

.search__page {
  display: flex;
  flex-direction: column-reverse;
}

.search__page__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.result__string {
    margin-bottom: 2rem;

    span {
      color: hsl(0, 62%, 62%);
    }
}
