@import '../../styles/settings.scss';

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: $mediumblue;
  max-width: 100%;
  height: 62rem;
  padding: 2rem 0;
  margin: 1rem;
  border-radius: 1rem;
}

.navbar__interactive {
  display: flex;
  flex-direction: column;
  gap: 42rem;
}

.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  img {
    cursor: pointer;
  }
}

.navbar__avatar {
  text-align: center;

  img {
  width: 50%;
  }
}
