@import '../../styles/settings.scss';

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.687rem;
  background-color: $mediumblue;
  border-radius: 1rem;
  min-width: 6rem;
  max-height: 60.5rem;
  padding-top: 2.213rem;
}

.navbar__interactive {
  display: flex;
  flex-direction: column;
  gap: 33.5rem;
}

.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  min-width: 1.25rem;
  min-height: 1.25rem;

  img {
    cursor: pointer;

    &:hover {
      filter: hue-rotate(130deg);
    }
  }
}

.navbar__avatar {
  text-align: center;
  padding-bottom: 2rem;

  img {
    height: 2.5;
    width: 2.5rem;
    border: 0.1rem solid $white;
    border-radius: 50%;
  }
}

.linkActive {
  filter: brightness(3);
}
