@import '../../styles/settings.scss';

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.3rem;
  background-color: $mediumblue;
  border-radius: 1rem;
  min-width: 6rem;
  max-height: 60rem;
  padding: 2.2rem 0;
  margin: 2rem;
  margin-right: 2.25rem;
}

.navbar__interactive {
  display: flex;
  flex-direction: column;
  gap: 34.1rem;
}

.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3rem;

  img {
    cursor: pointer;

    &:hover {
      filter: hue-rotate(130deg);
    }
  }
}

.navbar__avatar {
  text-align: center;

  img {
  max-width: 50%;
  border: 0.1rem solid $white;
  border-radius: 50%;
  }
}
