.toggle {
  padding-top: 0.2rem;
}

.active {
  width: 0.729rem;
  height: 0.875rem;
}

.inactive {
  width: 0.729rem;
  height: 0.875rem;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
    filter: invert(1);
  }
}
