.list__trending {
  position: relative;
}

.trending__image {
  margin-right: 2.43rem;

  img {
    border-radius: 0.5rem;
    width: 27.5rem;
    aspect-ratio: 16/9;
  }
}

.trending__inner {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.trending__description {
  display: flex;
  gap: 0.5rem;
  color: rgb(179, 179, 179);
}
