.list__trending {
  display: flex;
  height: 14.125rem;
  margin-bottom: 2rem;
}

.trending__image {
  margin-right: 2.43rem;
  position: relative;

  img {
    border-radius: 0.5rem;
    width: 17.5rem;
    height: 100%;
  }
}

.trending__inner {
  position: absolute;
}

.trending__description {
  display: flex;
  gap: 0.5rem;
  color: rgb(179, 179, 179);
}
