@import '../../styles/settings.scss';

.list__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

// -------------------------- MEDIA -------------------------------

@media screen and (min-width: 520px) and (max-width: 1024px) {

  .list__wrapper {
    gap: 1.3rem;
    justify-content: center;
  }
}

@media screen and (max-width: 519px) {

  .list__wrapper {
    gap: 1.3rem;
    justify-content: center;
  }
}
