.trending {
  height: 18.438;
  width: 79.75rem;
  margin-bottom: 2.5rem;
  overflow-x: scroll;

  h1 {
    margin-bottom: 1.563rem;
  }
}

.trending::-webkit-scrollbar {
  display: none;
}

.trending__slider {
  display: grid;
  grid-auto-flow: column;
  gap: 2.5rem;
}
